body {
  background-color: #eee;
  overflow: hidden;
}

.main {
  height: 100vh;
  margin: auto;
}

.calc {
  padding: 30px 10px;
  width: 340px;
  margin: 10% auto 0px;
  background-color: #1A2828;
  box-shadow: 0px 0px 15px black;
  border-radius: 10px;
}

.head {
  background-color: gray;
  color: black;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px black;
}

.title {
  text-align: center;
  font-size: 2em;
}

.c-display {
  background-color: #428957;
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  width: 95%;
  height: 40px;
  border: 2px solid white;
  margin: 20px auto 20px;
  padding: 5px;
  text-align: right;
  letter-spacing: 2px;
  border-radius: 5px;
}

.c-butt {
  background-color: white;
  color: black;
  margin: 5px;
  width: 50px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.c-butt-org {
  background-color: #FFE4B2;
  color: black;
  margin: 5px;
  width: 50px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.c-butt-dark {
  background-color: gray;
  color: white;
  margin: 5px;
  width: 50px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.c-butt-black {
  background-color: black;
  color: white;
  margin: 5px;
  width: 50px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.c-butt-2 {
  margin: 5px;
  width: 105px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.c-butt-success {
  background-color: green;
  color: white;
  margin: 5px;
  width: 50px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.c-butt-alert {
  background-color: red;
  color: white;
  margin: 5px;
  width: 50px;
  height: 30px;
  display: inline-block;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
}

.highlight {
  box-shadow: 0px 0px 5px white;
}

.numbers {
  margin: auto;
}
